

 .img-toolbar{
  width: 5rem;
  height: 4rem;
 }
 .color-tool{
  background-color: transparent;
}
.sidenav-container-color{
  background-color:rgb(79, 79, 79);
color: antiquewhite;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.menu a {
 display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.mat-expansion-panel {
  margin-bottom: 10px;
}
.menu a:hover{
  background-color: #555;
  border-right: 6px solid rgb(255, 0, 0);
}
::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
}
@media print {
  .no-print {
    display: none !important;
  }

  .mat-sidenav-container {
    background: none !important;
  }

  .container-list {
    padding: 0 !important;
    margin: 0 !important;

  }

  @page {
    margin: 0.5cm;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
