<mat-sidenav-container fullscreen #containerall>
  <mat-sidenav
    #sidenav
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset || sidenavOpened"
    (closedStart)="sidenavOpened = false"
    [ngStyle]="{ width: '12rem' }"
    class="sidenav-container-color no-print"
  >
    <mat-toolbar class="sidenav-container-color">
      <a class="img-toolbar" routerLink="/usuarios/list">
        <img src="assets/logo3.png" alt="" />
      </a>
      <span class="spacer"></span>
    </mat-toolbar>

   <ng-container *ngFor="let item of menuVisible">
  <!-- Si el item tiene hijos, mostrar acordeón -->
  <mat-accordion *ngIf="item.children" class="sidenav-container-color" displayMode="flat">
    <mat-expansion-panel class="sidenav-container-color">
      <mat-expansion-panel-header class="text-slate-100">
        <mat-icon style="margin-right: 7px;">{{ item.icon }}</mat-icon>
        <span class="mt-1">{{ item.label }}</span>
      </mat-expansion-panel-header>
      <mat-nav-list class="menu">
        <a *ngFor="let child of item.children"
           [routerLink]="child.link"
           (click)="isHandset ? sidenav.close() : null">
          <mat-icon style="margin-right: 7px;">{{ child.icon }}</mat-icon>
          <span>{{ child.label }}</span>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- Si no tiene hijos, mostrar como antes -->
  <mat-nav-list class="menu" *ngIf="!item.children">
    <a [routerLink]="item.link" (click)="isHandset ? sidenav.close() : null">
      <mat-icon class="mr-2">{{ item.icon }}</mat-icon>
      <span >{{ item.label }}</span>
    </a>
  </mat-nav-list>
</ng-container>
  </mat-sidenav>

  <mat-toolbar class="no-print">
    <button
      mat-icon-button
      (click)="toggleSidenav()"
      class="mr-2"
      *ngIf="isHandset"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button (click)="logout()" mat-icon-button color="warn">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container-list p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
