/* Estilo para el botón de agregar */
.add-button-container {
  margin-bottom: 20px; /* Espacio inferior para separar el botón de la tabla */
}

.add-button {
  background-color: #761717; /* Color de fondo rojo */
  color: #ffffff; /* Color de texto blanco */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar por encima */
  font-size: 16px; /* Tamaño de fuente */
}

.add-button:hover {
  background-color: #c82333;
}


/* Estilo para el botón de editar */
.edit-button,
.imprimir-button {
    background-color: #9c1c1c;
    color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.edit-button:hover,
.imprimir-button:hover {
    background-color: #6b2c2c;
}

.export-button button{
  background-color: rgb(30, 108, 66);
  color: white;
}
.total-ingresos {
  background-color: #f9f9f9; /* Fondo suave */
  border: 1px solid #ddd; /* Borde sutil */
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}

.total-ingresos h3 {
  font-size: 1.5em;
  color: #333; /* Color oscuro para el texto */
}

.total-ingresos span {
  color: #28a745; /* Verde para resaltar el monto */
  font-weight: bold;
}
.filtros-card {
align-items: center;
justify-content: space-between;
  display: flex;
}

.fecha-filtros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fecha-filtro {
  flex: 1; /* Asegura que ambos campos se distribuyan en la fila */
  min-width: 150px; /* Establece un ancho mínimo para evitar que se hagan muy pequeños */
}
.table-responsive {
  overflow-x: auto; /* Hace la tabla desplazable horizontalmente en pantallas pequeñas */
  -webkit-overflow-scrolling: touch; /* Mejora la experiencia en dispositivos táctiles */
}

table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
}


@media (max-width: 768px) {
  th, td {
    white-space: nowrap; /* Evita que el texto en las celdas se desborde o rompa en móviles */
  }
}
