<h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Seleccionar Rutina</h2>


<div *ngIf="rutinasAsignadas?.length" class="mb-6">
  <h3 class="text-lg font-semibold text-gray-700 mb-2">Rutinas Asignadas</h3>
  <ul class="space-y-3">
    <li *ngFor="let rutina of rutinasAsignadas" class="flex items-center justify-between bg-white shadow-sm border border-gray-200 rounded-lg px-4 py-3 hover:shadow-md transition">
      <span class="text-base text-gray-800 font-medium">{{ rutina.nombre }}</span>
      <button (click)="eliminarRutina(rutina._id)" class="text-red-500 hover:text-red-700 text-sm font-semibold transition duration-200">
        Eliminar
      </button>
    </li>
  </ul>
</div>

<mat-form-field appearance="fill" class="w-full mb-6">
  <mat-label class="text-base">Selecciona una rutina</mat-label>
  <mat-select [(value)]="rutinaSeleccionada">
    <mat-option *ngFor="let rutina of rutinas" [value]="rutina._id">
      {{ rutina.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>


<div class="flex justify-end space-x-3">
  <button
    mat-button
    (click)="cerrar()"
    class="px-5 py-2 bg-gray-200 text-gray-800 font-medium rounded-lg hover:bg-gray-300 transition"
  >
    Cancelar
  </button>
  <button
    mat-button
    color="primary"
    (click)="asignarRutina()"
    class="px-5 py-2 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition"
  >
    Asignar
  </button>
</div>
