<h2 class="titulo-global">Listado de Clientes</h2>

<div class="search-container">
  <app-search-box
    class="app-search-box"
    (bcNombre)="buscarClientePorNombre($event)"
  ></app-search-box>
  <button class="button-agregar" routerLink="/usuarios/agregar">AGREGAR</button>
</div>

<div class="button-filtrar">
  <button
    class="button-alternar"
    [class.selected]="!mostrarInactivos && !mostrarPendientes"
    (click)="mostrarUsuarios('Activos')"
  >
    Mostrar Activos
  </button>
  <button
    class="button-alternar"
    [class.selected]="mostrarInactivos"
    (click)="mostrarUsuarios('Inactivos')"
  >
    Mostrar Inactivos
  </button>
  <button
    class="button-alternar"
    [class.selected]="mostrarPendientes"
    (click)="mostrarUsuarios('Pendientes')"
  >
    Mostrar Pendientes
  </button>
</div>
<div class="contador-clientes-activos">
  <mat-chip
    ><strong>Clientes Activos:</strong
    ><strong>{{ contadorClientesActivos }}</strong></mat-chip
  >
</div>

<!-- Botón para desplegar la bandeja de notificaciones -->
<button
  class="fixed bottom-4 right-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
  (click)="toggleBandeja()"
>
  <mat-icon>notifications</mat-icon>
</button>

<!-- Bandeja de notificaciones -->
<div
  *ngIf="mostrarBandeja"
  class="fixed bottom-16 right-4 bg-white border border-gray-200 shadow-lg p-4 rounded"
>
  <h3 class="text-lg font-bold mb-2">Notificaciones</h3>
  <div
    *ngFor="let user of usuariosConTresDiasRestantes"
    class="bg-yellow-200 border border-yellow-400 text-yellow-700 px-4 py-3 rounded mb-2"
    role="alert"
  >
    <p class="text-sm">
      {{ user.nombreCompleto }} tiene {{ user.diasRestantes }} días restantes en
      su plan.
    </p>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-8">
  <div
    *ngFor="let item of usuariosFiltrados"
    class="bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 p-6"
  >
    <!-- Imagen del usuario -->
     <div class="flex justify-center mb-4">
      <img
        [src]="item.imagen"
        alt="Imagen de {{ item.nombreCompleto }}"
        class="w-32 h-32 object-cover border-2 border-gray-300 shadow-sm"
      />
    </div>

    <!-- Nombre -->
    <h2 class="text-xl font-semibold text-center text-gray-800 mb-4">
      {{ item.nombreCompleto }}
    </h2>

    <!-- Información del usuario -->
    <ul class="text-sm text-gray-600 space-y-1">
      <li><strong>DNI:</strong> {{ item.identidad }}</li>
      <li><strong>Teléfono:</strong> {{ item.numeroTelefono }}</li>
      <li><strong>Correo:</strong> {{ item.correo }}</li>
      <li><strong>Fecha de Ingreso:</strong> {{ item.fechaIngreso | date }}</li>
      <li>
        <strong>Plan:</strong>
        {{ item.idPlan ? getPlanName(item.idPlan) : "Plan no encontrado" }}
      </li>
      <li><strong>Días Restantes:</strong> {{ item.diasRestantes }}</li>
    </ul>

    <!-- Estado -->
    <div
      class="mt-4 text-center font-medium py-1 rounded text-sm"
      [ngClass]="{
        'bg-green-100 text-green-700': item.estado === 'Activo',
        'bg-red-100 text-red-700': item.estado === 'Inactivo',
        'bg-yellow-100 text-yellow-700': item.estado === 'Pendiente'
      }"
    >
      {{ item.estado }}
    </div>

    <!-- Botones -->
    <div class="flex flex-col space-y-2 mt-6">
      <button
        *ngIf="isAdmin"
        (click)="asignarRutina(item._id)"
        class="w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded-lg font-semibold transition"
      >
        Asignar Rutina
      </button>

      <button
        *ngIf="isAdmin"
        [routerLink]="['/usuarios/edit', item._id]"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg font-semibold transition"
      >
        Editar Usuario
      </button>
    </div>
  </div>
</div>
