<h2 class="titulo-global">Listado de empleados</h2>
<div class="search-container">
  <app-searchBox
  (BuscarObject)="buscarEmpleadoPorNombre($event)">
  </app-searchBox>
<button class="button-agregar" routerLink="/empleados/agregar">AGREGAR</button>
</div>



<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
  <div *ngFor="let item of empleadosFiltradas" class="grid-item">
    <div class="user-card">
      <h2>{{ item.nombreCompleto }}</h2>
      <p><strong>Empleado:</strong> {{ item.idempleado }}</p>
      <p><strong>Correo:</strong> {{ item.correo }}</p>
      <p><strong>Identidad:</strong> {{ item.identidad }}</p>

      <!-- Muestra otros datos del empleado según la estructura de la interfaz -->
      <button
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-colors duration-300"
        *ngIf="isAdmin"
        [routerLink]="['/empleados/edit', item.idempleado]"
      >
        Editar
      </button>
    </div>
  </div>
</div>
