<h2 class="titulo-global">Listado de empleados</h2>
<div class="search-container">
  <app-searchBox
  (BuscarObject)="buscarEmpleadoPorNombre($event)">
  </app-searchBox>
<button class="button-agregar" routerLink="/empleados/agregar">AGREGAR</button>
</div>



<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-8">
  <div *ngFor="let item of empleadosFiltradas" class="bg-white rounded-2xl shadow-md p-6 hover:shadow-lg transition-shadow duration-300">

    <div class="space-y-2">
      <h2 class="text-xl font-semibold text-gray-800">{{ item.nombreCompleto }}</h2>



      <p class="text-sm text-gray-600">
        <strong class="text-gray-700">Correo:</strong> {{ item.correo }}
      </p>

      <p class="text-sm text-gray-600">
        <strong class="text-gray-700">Identidad:</strong> {{ item.identidad }}
      </p>
        <p class="text-sm text-gray-600">
        <strong class="text-gray-700">Cargo:</strong> {{ item.tipoEmpleado }}
      </p>
    </div>

    <div class="mt-4">
      <button
        *ngIf="isAdmin"
        [routerLink]="['/empleados/edit', item.idempleado]"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg transition-colors duration-300">
        Editar Empleado
      </button>
    </div>

  </div>
</div>

