/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
  flex: 1 1 auto;
}

.back-color {
  background-color: rgb(0, 48, 19);
}

.titulo-global {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.search-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 15px; 
  margin-bottom: 10px;
 
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-input {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  flex: 1;
}

.search-button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #d11b1b;
}

.button-agregar {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.button-agregar:hover {
  background-color: #d11b1b;
}
/* Estilo para las cartas de usuario */
.user-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease;
  width: 300px; 
  margin-bottom: 20px; 
  flex-grow: 1; 
}

.user-card:hover {
  transform: translateY(-5px);
}

.user-card img {
  width: 100%;
  max-width: 100%;
  height: 16rem;
  border-radius: 8px;
  margin-bottom: 10px;
}

.user-card h2 {
  font-size: 1.7rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.user-card p {
  margin-bottom: 5px;
  font-size: 1rem;
}



/* Botones de filtro */
.button-filtrar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button-alternar {
  background-color: #5a6268;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .button-alternar:hover {
  background-color: #d11b1b;
} */

.button-alternar.selected {
  background-color: #d11b1b;
}
.contador-clientes-activos {
  text-align: center;
  margin-bottom: 20px;
}

.contador-clientes-activos mat-chip {
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
}


/* Estilos adicionales */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}

@media (min-width: 1024px) {
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


.input-field,
.select-field {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-field:focus,
.select-field:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}


.btn-submit {
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #4338ca;
}
.activo {
  background-color: green;
  color: white;
  width: 4rem;
  height: 2.2rem;
  padding: 7px 10px;
  border-radius: 80%;
}

.inactivo {
  background-color: red;
  color: white;
  width: 5rem;
  height: 2.2rem;
  padding: 7px 10px;
  border-radius: 80%;
}

.pendiente {
  background-color: orange;
  color: white;
  width: 6rem;
  height: 2.2rem;
  padding: 7px 10px;
  border-radius: 80%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
