<h2 class="titulo-global">Listado de Planes</h2>

<div class="search-container">
<searchbox-planes
  (buscarPlanNombre)="buscarPlanesPorNombre($event)"
  class="app-search-box"
></searchbox-planes>
  <button *ngIf="isAdmin" class="button-agregar" routerLink="/planes/agregar">AGREGAR</button>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
  <div *ngFor="let item of planesFiltrado" class="grid-item">
    <div class="user-card">
      <!-- <img [src]="item.imagen" alt=""> -->
      <h2>{{ item.nombrePlan }}</h2>
      <p><strong>Descripcion</strong> {{ item.descripcion }}</p>
      <p><strong>Precio:</strong>{{ item.precio }}</p>

      <!-- Muestra otros datos del empleado según la estructura de la interfaz -->
      <button *ngIf="isAdmin" [routerLink]="['/planes/edit', item._id]"
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-colors duration-300">
        Editar
      </button>
    </div>
  </div>
</div>
